/* ========= INFORMATION ============================
	- document:  WP Coder!
	- author:    Dmytro Lobov 
	- url:       https://wow-estore.com/
==================================================== */
h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;		
		
}

img{
    display: block;
  	margin-left: auto;
  	margin-right: auto;
  	font-size: 40px;
		margin-top: 50px;
	
}

p{
    font-size: 13px;
    margin-top: 10px;
	 	font-family: 'Roboto', sans-serif;
		color: gray;

}
#product{
    background-color: #ffffff;

}

.col-lg-offset-4 > h3{
    color: red;
    font-size: 25px;
}

@media (min-width: 700px){
	h3{
		margin: 3.5rem auto 2rem
	}
}
