/* bloc article */
#bloc-article .gauche-img{
    padding-right: 0px;
}
#bloc-article .droite-img{
    padding-left: 0px;
}
#bloc-article .gauche-img button{
    background-color: #f83d2e;
    color: white;
    height: 104px;
    width: 306px;
}
#bloc-article .text-article h6{
     color: #f83d2e
}
#bloc-article .text-article h3{
    margin-top: 0px;
}


/* ---- responsive ----- */
@media screen and (max-width: 699px){
    #bloc-article .col-sm-6.gauche-img button{
        width: 304px !important;
    }
    #bloc-article .gauche-img,
    #bloc-article .droite-img{
        padding: 0px !important;
    }
}
@media screen and (min-width: 700px) and (max-width: 767px){
    #bloc-article .col-sm-6.gauche-img button{
        height: 88px !important;
        width: 256px !important;
    }
}
@media screen and (max-width: 1024px){
    #bloc-article .gauche-img button{
        height: 76px !important;
        width: 230px !important;
    }
}
/* ---- fin responsive ----- */

/* end bloc article */

/* footer */

/* ---- responsive ----- */
@media screen and (max-width: 699px){
    .footer-widgets-wrapper{
        text-align: center;
    }
    .footer-nav-widgets-wrapper{
        background-color:#113D98 !important;
        background-image: none !important;
    }
}
/* ---- fin responsive ----- */
.footer-inner li::before{
    content:"-  ";
    color:#1e51bc;
   /*color: #0b3386;*/
    padding-right: 5px;
}
.footer-inner li{
    list-style:none;
}
#site-footer a.to-the-top{
    display: none;
}
#site-footer{
	background-color:#113D98 !important;
}
#site-footer  p{
	color: white;
}
.footer-inner .coordonne a,
.footer-inner .coordonne p{
	color: white;
}
.footer-inner .coordonne a{
    text-decoration: none;
}

.footer-inner{
    font-size: 14px;
}
#site-footer{
    border-top: 1px solid #3e5fa4 !important;
}

/* end footer */

/* slider reponsive */
@media screen and (max-width: 699px){
    .n2-ss-slider .n2-ss-layer-content[data-verticalalign=center]{
        width: 350px;
    }
    div#n2-ss-4 .n2-style-b9880470c8178890efa20e7c510bc08a-heading{
        white-space: normal !important;
    }
}
@media screen and (min-width: 700px) and (max-width: 981px){
    div#n2-ss-4 .n2-style-b9880470c8178890efa20e7c510bc08a-heading{
        white-space: normal !important;
    }
    .n2-ss-slider .n2-ss-layer-content[data-verticalalign=center]{
        width: 650px;
    }
}
/* end slider reponsive */

/*  intern page*/

/* QUI SOMME NOUS*/ 
#qui-sommes-nous .gauche,
#qui-sommes-nous .droite{
    text-align: center;
}
#qui-sommes-nous .gauche img,
#qui-sommes-nous .droite img{
    margin: auto;
}
#qui-sommes-nous .gauche p,
#qui-sommes-nous .droite p{
    text-align: justify;
}
#qui-sommes-nous .gauche,
#qui-sommes-nous .droite{
    background-color: #F2F2F0;
    padding: 25px 15px;
    border-radius: 10px;
}
#qui-sommes-nous .gauche{
    margin-right: 15px;
}
#qui-sommes-nous .droite{
    margin-left: 15px;
}
#qui-sommes-nous .contacte{
    margin: auto;
    margin-top: 25px;
}
#qui-sommes-nous .cont{
    border-top: 2px solid #e3e3e3;
}
@media (min-width: 992px){
    #qui-sommes-nous .droite.col-lg-6,
    #qui-sommes-nous .gauche.col-lg-6{
        max-width: 47%;
    }
}
/* END QUI SOMME NOUS*/ 

/* DONNEE */
#donnee .contacte{
    margin: auto;
    margin-top: 25px;
}
#donnee .cont{
    border-top: 2px solid #e3e3e3;
}

/* END DONNEE */

/* CONTENU */
#contenu .cont{
    border-top: 2px solid #e3e3e3;
}
#contenu .contacte{
    margin: auto;
    margin-top: 25px;
}
#contenu .bloc-last p{
    text-align: justify;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 10px;
}
/*END CONTENU */

/* CONTACT */
#contact .form-contact{
    background-color: #F2F2F0;
    border-radius: 10px;
    padding: 25px;
}
/*END CONTACT */

/* end intern page*/