.easingslider-18{
	max-width: none !important;
	width:inherit !important;
}
.easingslider-wrapper-outer{
	width: auto !important;
}
.entry-header{
	display: none;
}
.post-inner{
	padding: 0px !important;
}
.cadre{
	background-image: url("https://saisiededonnees.fr/wp-content/uploads/2020/08/cadre.png");
	color:white !important;
	height: 557px;
	text-align: center;
	padding: 30px 45px !important;
}
.cadre img{
	margin: auto;
}
.cadre img,h3{
	margin-bottom: 20px !important;
}
.cadre p{
	color:white;
}
.cadretext{
	text-align: center;
	padding: 20px 100px !important; 
}
.footer-nav-widgets-wrapper{
	background-image: url("https://saisiededonnees.fr/wp-content/uploads/2020/08/footerfond.png");
	color:white !important;
}
.slidetop{
	margin-top: -50px!important;
}
.slidetop .n2-ss-slider{
	position: absolute !important;
    /*margin-top: -650px*/
}
.cadre-mere{
	padding-top: 728px;
}
.col-md-3.cadre{
	padding: 25px 15px !important;
}
.col-sm-12.cadre{
	margin-bottom: 25px;
	height: auto;
}


/* ---- responsive ----- */
@media screen and (max-width:715px){
	.cadre p {
		font-size: 13.5px;
	}
	.n2-ss-slider .n2-ss-layer-content .n2-ss-layer{
		width: 100% !important;
	}
	.offset-1.cadre{
		margin-left: 0px;
	}
	.cadretext {
		padding: 20px !important;
	}
	.cadre-mere {
		padding-top: 182px !important;
	}
}
@media screen and (min-width:715px) and (max-width: 767px){
	.offset-1.cadre{
		margin-left: 0px;
	}
	.cadretext {
		padding: 20px !important;
	}
	.col-sm-12.cadre img {
		width: 15%;
	}
	.n2-ss-slider .n2-ss-layer-content .n2-ss-layer{
		width: 100% !important;
	}
	.cadre-mere {
		padding-top: 300px !important;
	}
	.cadre p {
		font-size: 13.5px;
	}
}
@media screen and (min-width:768px) and (max-width: 1024px){
    .cadre-mere {
		padding-top: 548px !important;
	}
	.cadre p {
		font-size: 13.5px;
	}
	.cadre img{
		width: 30%;
	}
}
@media screen and (min-width:1180px) and (max-width:1279px){
	.cadre-mere {
		padding-top: 630px !important;
	}
}
@media screen and (min-width:1280px) and (max-width:1379px){
	.cadre-mere {
		padding-top: 688px !important;
	}
}
@media screen and (min-width:1380px) and (max-width:1479px){
    .cadre-mere {
		padding-top: 728px !important;
	}
}
@media screen and (min-width:1480px) and (max-width:1579px){
	.cadre-mere {
		padding-top: 791px !important;
	}
}
@media screen and (min-width:1580px) and (max-width:1679px){
	.cadre-mere {
		padding-top:844px !important;
	}
}
@media screen and (min-width:1680px) and (max-width:1779px){
	.cadre-mere {
		padding-top: 897px!important;
	}
}
@media screen and (min-width: 1780px){
	.cadre-mere {
		padding-top: 956px !important;
	}
}

/* ---- fin responsive ----- */
