.contacte{
	/*background-image: url("https://saisiededonnees.fr/wp-content/uploads/2020/08/Contact.png");
	background-size:100%;*/
	background-color: #163b86;
	text-align: center;
	width: 20%;
	border-radius: 5px;
    /*height: 40px;
	background-repeat:no-repeat;*/
	/*margin-top: 20px;
	  */
	margin-right: 20px;
	box-shadow: 0px 5px 4px #aaa;
}
.contacte a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}
.contacte a:hover{
	color: white;
	text-decoration: none;
	
}
.phone img{
	margin-bottom: 0px;
	margin-top: 0px;
}
.header-titles img{
	margin-bottom: 0px;
	margin-top: 0px;
}
.primary-menu-wrapper{
	margin-right:20px;
}
.phone {
	width:5%;
	
}
.Numeros p{
	color:red;
	font-size: 21px;
	margin: 0 0 0em 0;
}
.Numeros {
	width:275px;
}

#site-header .primary-menu-wrapper a{
	font-size: 20px;
	color: #555555;
}
#site-header .primary-menu-wrapper li{
	padding-left: 7px;
    padding-right: 10px;
}
/* ---- responsive ----- */
@media screen and (min-width: 1000px)and (max-width: 1199px){
	.contacte a,
    #site-header .primary-menu-wrapper a{
		font-size: 15px !important;
	}
	.Numeros p {
		font-size: 18px !important;
	}
	
	.header-titles img{
		width: 130px;
	}
}
/* ---- fin responsive ----- */
/*.header-titles-wrapper{
	margin-left: 190px;
}
.header-navigation-wrapper{
	    margin-right: 70px;
}

	 */