
#product h3{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

#product img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    margin-top: 50px;

}

#product p{
    font-size: 15px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: gray;

}
#product{
    background-color: #ffffff;

}

#product .col-lg-offset-4 > h3{
    color: red;
    font-size: 25px;
}

@media (min-width: 700px){
    #product h3{
        margin: 3.5rem auto 2rem
    }
}
