.easingslider-18{
	max-width: none !important;
	width:inherit !important;
}
.easingslider-wrapper-outer{
	width: auto !important;
}
.entry-header{
	display: none;
}
.post-inner{
	padding: 0px !important;
}
.cadre{
	background-image: url("https://saisiededonnees.fr/wp-content/uploads/2020/08/cadre.png");
	color:white !important;
	height: 557px;
	text-align: center;
	padding: 30px 45px !important;
}

.cadre img,h3{
	margin-bottom: 20px !important;
}
.cadre p{
	color:white;
}
.cadretext{
	text-align: center;
	padding: 20px 100px !important; 
}
.footer-nav-widgets-wrapper{
	background-image: url("https://saisiededonnees.fr/wp-content/uploads/2020/08/footerfond.png");
	color:white !important;
}
.n2-ss-slider{
	position: absolute;
    margin-top: -650px
}
.cadre-mere{
	margin-top: 651px;
}
